<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ExcelOuraVSTOAddIn.OuraExcelSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--<add key="OuraAPIKey" value="" />-->
    <add key="OuraApiKey" value=""/>
  </appSettings>
  <userSettings>
    <ExcelOuraVSTOAddIn.OuraExcelSettings>
      <setting name="IncludeHeaders" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FormSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Fields" serializeAs="String">
        <value />
      </setting>
      <setting name="StartDate" serializeAs="String">
        <value />
      </setting>
      <setting name="EndDate" serializeAs="String">
        <value />
      </setting>
    </ExcelOuraVSTOAddIn.OuraExcelSettings>
  </userSettings>
</configuration>